#################
## Emacs
#################

var/
straight/*
!straight/versions/
elpa/
eln-cache/
flycheck_init.el
TODO.org


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Some mac litter
.DS_Store
