#################
## Emacs
#################

elpa/
backups/
tramp
auto-save-list/
url/
recentf
projectile-bookmarks.eld

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini